/* Estilos gerais */
html {
    background: black;
}

canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.header-content h1 {
    width: calc(100vw / 4); /* Defina a largura do cabeçalho como 100% da largura da tela */
    text-align: center;
    padding: calc(1vh * 0.5);
    border-radius: 10px;
    font-size: min(6vw, 50px); /* Tamanho do texto responsivo em relação à largura da tela */
    font-family: 'Courier New', Courier, monospace;
    color: #0F0;
}

section {
    align-items: center;
    max-width: min(80vw, 600px);
    height: auto;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #333;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.grid-container {
    display: flex; /* Alterado para display flex */
    flex-wrap: wrap; /* Permite que os elementos flexíveis quebrem para a próxima linha quando não couberem mais na largura do contêiner */
    flex-direction: row;
    justify-content: center; /* Centraliza os itens horizontalmente */
    text-align: center;
    max-width: 90vw;
    gap: 1vw;
    margin-left: auto;
    margin-right: auto;
}

.grid-container > p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 20%; /* Define que os itens flexíveis ocupem a mesma quantidade de espaço e que possam crescer e encolher (flex-grow: 1, flex-shrink: 1), com uma base de largura de 20% */
    background-color: #111111;
    color: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    margin: 10px; /* Adiciona margem entre os itens */
    min-height: 200px;
    max-height: 25vh;
    font-size: 1.2rem;
}

@media (max-width: 700px) {
    .grid-container > p {
        width: 30vw;
        font-size: 1rem;
    }
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilos específicos */
#banner {
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0; /* Aumente o preenchimento para melhor legibilidade em dispositivos móveis */
    font-size: 1.5rem; /* Tamanho de fonte responsivo */
}

#dourado {
    color: gold;
}

#cor-matrix {
    color: #0F0
}