/* styles.css */

/* Estilize o corpo do documento */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Estilize o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
}

.logo {
    margin-left: -0.6%;
    display: inline-flex;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2.5%;
}

.titulo {
    display: block;
    font-size: small;
}

header h1 {
    margin: 0;
}

nav {
    text-align: left;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav a {
    color: #fff;
    font-size: larger;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    color: gray
}

/* Estilize os projetos */
.projetos {
    margin-left: 1.5%; 
    margin-right: 1.5%;
    margin-bottom: 5%;
}

.projeto {
    margin-bottom: 50px;
}

.galeria {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    display: inline-block;
}

.galeria img {
    border: 1px solid #333;
    max-width: 50%;
    margin-bottom: 10px;
    margin-left: 3%
}

.anterior, .proximo {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.anterior {
    left: -0.22%;
}

.proximo {
    right: 43.6%;
    border-radius: 3px 0 0 3px;
}

.anterior:hover, .proximo:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.8)
}

#informacoes a {
    display: block;
    margin-bottom: 8px;
}

/* Estilize o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: auto;
    padding-top: 1%;
    padding-bottom: 1.5%;
}

.link {
    display: inline;
    color: #4169E1;
}

.link:visited{
    color: #6A5ACD;
}

.link:hover {
    color: red
}